<table id="myage_product_item_list" class="normal">
<thead>
  <th>カテゴリ</th>
  <th>名称</th>
  <th>研究レベル</th>
  <th>必要生産工数</th>
  <th>必要資源</th>
  <th>生産数</th>
</thead>
<tbody>
</tbody>
</table>