<%= render 'my_page_menu' %>
<div id="contents">
  <%= render :partial => 'layouts/edit_messages' %>
  <h3>新規部隊編成</h3>

  <%= form_tag({:action => 'create_squad'}, {:method => :post}) do %>
  <%= render :partial => 'organize_squad' %>
  <div id="squad_submit">
    <input id="btn_new_squad" type="button" value="新規編成" />
  </div>
  <% end %>

</div>