<table id="myage_product_item_list" class="normal">
<thead>
  <th>種族</th>
  <th>最長世代</th>
  <th>研究レベル</th>
  <th>平均レベル</th>
  <th>ユーザー数</th>
  <th>操作</th>
</thead>
<tbody>
</tbody>
</table>